@import '@/styles/theme';

.loaderContainer {
  align-items: center;
  background: $background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loader {
  animation: color-anim 0.7s cubic-bezier(1, 0, 1, 0.12) forwards;
  color: transparent;
  width: 50px;
}

@keyframes color-anim {
  to {
    color: #ff6700;
  }
}
