<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" prefix="og: http://ogp.me/ns#">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="<%= htmlWebpackPlugin.options.preconnect %>" />
    <link rel="dns-prefetch" href="<%= htmlWebpackPlugin.options.preconnect %>" />
    <link rel="author" href="/humans.txt" type="text/plain" />
  </head>
  <body>
    <noscript>
      <h1>Javascript is not enabled on your browser</h1>
      <p align="center">
        You need to enable JavaScript to run this application. Please visit this page for more informations :<br />
        <a src="https://www.enable-javascript.com/">https://www.enable-javascript.com/</a>
      </p>
    </noscript>
    <main class="appWrapper"></main>
  </body>
</html>
