<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
	<head>
		<base href="/" />
		<meta charset="utf-8" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link rel="author" href="/humans.txt" type="text/plain" />
		<link rel="preconnect" href="<%= htmlWebpackPlugin.options.preconnect %>" />
		<link rel="dns-prefetch" href="<%= htmlWebpackPlugin.options.preconnect %>" />
	</head>
	<body>
		<noscript>
			You need to enable JavaScript to run this application. Please visit this page for more informations :
			<a src="https://www.enable-javascript.com/">https://www.enable-javascript.com/</a>
		</noscript>
		<main class="app-wrapper"></main>
	</body>
</html>
