@font-face {
  font-family: 'Open Sans Light';
  src: url('@/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@import-normalize;
@import-sanitize;

html,
body,
.app-wrapper {
  background: #131313;
  color: #fff;
  font-family: 'Open Sans Light', 'Source Code Pro Medium', sans-serif;
  margin: 36px;
}
