@font-face {
  font-family: 'Open Sans Light';
  src: url('@/fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
    url('@/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('@/fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('@/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
